import( "sf", "rlist", "lwgeom", "ggplot2")

export(
  sft_getIslands,
  sft_innerLines,
  sft_removeIslands
)

# sft_getIslands ------------------------------------------
S3method(sft_getIslands, sf)
S3method(sft_getIslands, sfc)
# sftk_removeIslands --------------------------------------
S3method(sft_removeIslands, sf)
S3method(sft_removeIslands, sfc)
